{% extends "base.html" %}
{% block content %}


<body>

    <h1>{{title}}</h1>
    <span>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div>
        {% for year in ['2022', '2023'] %}
        <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" href="/{{year}}/{{category}}"  type="button">{{year}}</a>
        <div>
        {%endfor%}
    </div>
    </span>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var categories = Object.keys({{ data_dict | tojson }});
        var amount = Object.values({{ data_dict | tojson }});
        console.log(categories)
        console.log(amount)
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels:categories,
                datasets: [{
                    label: 'Categories',
                    data: amount,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>
{% endblock %}